* {
  margin: 0;
  padding: 0;
}
.hidden { display: none }

.best-answer .card-header {
  color: #28a745;
  border-color: transparent;
  text-align: end;
  background-color: transparent;
}


.disabled {
  pointer-events: none;
  opacity: .3
}

.vote-button {
  text-decoration: none;
  color: darkslategray;
  margin: 2px;
  padding: 2px;
  border: 1px solid darkslategray;
  border-radius: 3px;
}

li {
  list-style: none;
  margin-left: 1em;
}
