.gist {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.gist.loading::after {
  content: "(loading)";
  color: #99cc00;
}
.gist.loading-failed::after {
  content: "(loading failed)";
  color: #cc0000;
}
